HTTP_PORT=8080
ESPOCRM_SITE_URL=http://YOUR_SERVER_IP:8080
ESPOCRM_ADMIN_USERNAME=admin
ESPOCRM_ADMIN_PASSWORD=CHANGE_ME_STRONG_PASSWORD
ESPOCRM_DATABASE_PASSWORD=CHANGE_ME_RANDOM_DB_PASSWORD
MARIADB_ROOT_PASSWORD=CHANGE_ME_RANDOM_ROOT_PASSWORD
